<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="webFileSystemLocation" value="..\..\Web"/>
    <add key="signalrHostPort" value="5001"/>
    <add key="mqttPort" value="5000"/>
    
  </appSettings>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IDirectoryService" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://08346.net.dcs.hull.ac.uk/services/DirectoryService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IDirectoryService" contract="MQTTWcfService.IDirectoryService" name="WSHttpBinding_IDirectoryService">
                <identity>
                    <servicePrincipalName value="host/webserver2.net.dcs.hull.ac.uk" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>